{% load i18n %}
{% load allauth account %}


<style>
    :root {
        --main-orange: #db4a2b;
    }

    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .login-container {
        display: grid;
        grid-template-columns: 60% 40%;
        height: 100vh;
        background-image: url("/static/css/images/background_space.jpg");
    }
    .login-image {
        background-image: url("/static/css/images/thunder_login_sign_up_background.png");
        background-size: cover;
        background-position: center;
    }
    .login-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px;
        color: white;
        border-left: 1px var(--main-orange) solid;
        font-size: 18px;
    }
    .helptext {
        display: none;
    }
    .login-form h1 {
        margin-bottom: 10px;
        color: var(--main-orange);
    }
    .login-form button {
        font-size: 20px;
        font-weight: bold;
        background-color: var(--main-orange);
        color: white;
        padding: 5px 10px;
        width: 200px;
        margin-bottom: 70px;
        margin-top: 20px;
        border-radius: 20px;
        outline: none;
        border: none;
        cursor: pointer;
    }
    .login-form button:hover {
        background-color: #c43a2a;
    }

    input {
        border-radius: 20px;
        padding: 5px 10px;
        border: 2px solid var(--main-orange);
        font-size: 18px;
        background-color: #fae8e5;
    }

    a {
        color: var(--main-orange);
    }

    label {
        display: none;
    }

    label[for="id_remember"] {
        display: inline-block;
    }

    input[type="checkbox"]:checked {
        accent-color: var(--main-orange);
    }

    h1 {
        font-size: 50px;
    }
</style>

{% block content %}
    <div class="login-container">
        <div class="login-image"></div>
        <div class="login-form">
            {% element h1 %}
                {% trans "Sign In" %}
            {% endelement %}
            {% if not SOCIALACCOUNT_ONLY %}
                {% setvar link %}
                    <a href="{{ signup_url }}">
                {% endsetvar %}
                {% setvar end_link %}
                    </a>
                {% endsetvar %}
                {% element p %}
                    {% blocktranslate %}If you have not created an account yet, then please {{ link }}sign up{{ end_link }} first.{% endblocktranslate %}
                {% endelement %}
                {% url 'account_login' as login_url %}
                {% element form form=form method="post" action=login_url tags="entrance,login" %}
                    {% slot body %}
                        {% csrf_token %}
                        {% element fields form=form unlabeled=True %}
                        {% endelement %}
                        {{ redirect_field }}
                    {% endslot %}
                    {% slot actions %}
                        {% element button type="submit" tags="prominent,login" %}
                            {% trans "Sign In" %}
                        {% endelement %}
                    {% endslot %}
                {% endelement %}
            {% endif %}
            {% if LOGIN_BY_CODE_ENABLED or PASSKEY_LOGIN_ENABLED %}
                {% element hr %}
                {% endelement %}
                {% element button_group vertical=True %}
                    {% if PASSKEY_LOGIN_ENABLED %}
                        {% element button type="submit" form="mfa_login" id="passkey_login" tags="prominent,login,outline,primary" %}
                            {% trans "Sign in with a passkey" %}
                        {% endelement %}
                    {% endif %}
                    {% if LOGIN_BY_CODE_ENABLED %}
                        {% element button href=request_login_code_url tags="prominent,login,outline,primary" %}
                            {% trans "Mail me a sign-in code" %}
                        {% endelement %}
                    {% endif %}
                {% endelement %}
            {% endif %}
            {% if SOCIALACCOUNT_ENABLED %}
                {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
            {% endif %}
        </div>
    </div>
{% endblock content %}
