{% extends "layout.html" %}

{% block title %}Search{% endblock %}

{% block body %}
    <div class="search-field"> 
        <form>
            <div class="radio-btn-search">
                <div>
                    <input type="radio" id="movies" name="search" value="movie">
                    <label for="movies">Movies</label>
                </div>
                <div>
                    <input type="radio" id="tvshow" name="search" value="tv">
                    <label for="tvshow">TV Shows</label>
                </div>
                <div>
                    <input type="radio" id="person" name="search" value="person">
                    <label for="person">Person</label>
                </div>
            </div>
            <div class="search-bar-container">
                <input type="submit" disabled onclick="return false" style="display:none"></input>
                <input class="search-bar" id="search-bar" type="search" placeholder="Search for...Please choose from above">
            </div>
            <div class="choices-content-suggestion" id="choices-movie-suggestions">
                <span id="movies_now_playing">Now Playing</span>
                <span id="movies_upcoming">Upcoming</span>
                <span id="movies_popular">Popular</span>
                <span id="movies_top_rated">Top Rated</span> 
            </div>
            <div class="choices-content-suggestion" id="choices-tv-suggestions">
                <span id="tv_airing_today">Airing Today</span>
                <span id="tv_on_the_air">On the Air</span>
                <span id="tv_popular">Popular</span>
                <span id="tv_top_rated">Top Rated</span>
            </div>
        </form>
    </div>
    <div id="suggestions-container">
        <div class="container-search-results">
            <div id="search-results">
            </div>
        </div>
    </div>
    
{% endblock %}